{% extends 'base.html.twig' %}

{% block title %}hello dunia{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <td>id</td>
                <td>title</td>
                <td>delete</td>
            </tr>
        </thead>

        <tbody>
           
            {% for post in posts %}
            <tr>
                <td>{{post.id}}</td>
                <td><a href="{{path('post.show',{id:post.id})}}">{{post.title}}</a></td>
                <td><a href="{{path('post.delete',{id:post.id})}}" class="btn btn-success">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>


    </table>

    <a href="{{path('post.create')}}" class="btn btn-danger">add</a>


{% endblock %}
